body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: rgba(17, 24, 39, 1);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.4s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.scene-text {
  @apply font-bold text-3xl;

  color: #fff;
  /* font-size: 0.42rem; */
  /* line-height: 0.94rem; */
  text-shadow: 0.03rem 0 2px #000, 0.02rem 0 2px #000, 0.01rem 0 2px #000,
    0.03rem 0.01rem 2px #000, 0.02rem 0.02rem 2px #000, 0.01rem 0.03rem 2px #000,
    0.03rem -0.01rem 2px #000, 0.02rem -0.02rem 2px #000,
    0.01rem -0.03rem 2px #000, -0.03rem 0 2px #000, -0.02rem 0 2px #000,
    -0.01rem 0 2px #000, -0.03rem 0.01rem 2px #000, -0.02rem 0.02rem 2px #000,
    -0.01rem 0.03rem 2px #000, -0.03rem -0.01rem 2px #000,
    -0.02rem -0.02rem 2px #000, -0.01rem -0.03rem 2px #000,
    0.02rem 0.06rem 2px #000;
}

